.button {
    flex-direction: row;
    align-items: center;
    padding: 22px 50px;
    gap: 10px;
    width: 243px;
    height: 68px;
    background: #6E9C9F;
    border: none;
    transition: 0.3s;
    &:hover{
        opacity: 0.8;
    }
    &:active{
        opacity: 0.4;
    }
}